<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件选项</title>
    <link href="../css/mui.min.css" rel="stylesheet" />
    <link href="../libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <div class="mui-content">
        <x-options :as="as" :uri="uri" />
    </div>
    <!-- <script src="../js/rem.js"></script> -->
    <script src="../js/events.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../libs/vue_v2.5.21.js"></script>

    <script src="../js/events.js"></script>
    <script src="./file_options.js"></script>
    <script type="text/javascript">
        mui.init();
        mui.plusReady(function () {
            initVue();
        });
    </script>
    <script id="x-options" type="x-template">
        <!-- x-template -->
        <ul class="mui-table-view">
            <li v-for="(value, key, index) in options"
                :key="key"
                :opentype="key"
                @touchstart.prevent="open"
                class="mui-table-view-cell">{{value}}</li>
        </ul>
    </script>
</body>

</html>